@font-face {
    font-family: 'MyWebFont';
    src: url('../asset/fonts/Vazir-Regular-FD.eot'); /* IE9 Compat Modes */
    src: url('../asset/fonts/Vazir-Regular-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../asset/fonts/Vazir-Regular-FD.woff2') format('woff2'), /* Super Modern Browsers */
         url('../asset/fonts/Vazir-Regular-FD.woff') format('woff'), /* Pretty Modern Browsers */
         url('../asset/fonts/Vazir-Regular-FD.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../asset/fonts/Vazir-Regular-FD.svg') format('svg'); /* Legacy iOS */
}

@mixin flex {
    display: flex;
    justify-content: center;
    place-items: center;
}

// colors
$whiteSmoke: whitesmoke;
$black: black;
$gray: gray;
$white: white;
$green: rgb(107, 223, 107);
$orange: orange;
$red: red;